* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 3px solid black;
}

:root {
  --clr-main: orange;
  --clr-main-light: #efdaf9;
}

.logo {
  text-decoration: none;
  color: black;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: blue;
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.form, .contacts-title, .about-us-cont {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: start;
}

.form input {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid var(--clr-main)
}

.form input:focus {
  outline: 0;
  border: 2px solid var (--clr-main);
  outline: 2px solid var (--clr-main);
}

.container, .about-us-cont {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 2rem;
}

.send {
  background-color: var(--clr-main);
  border: 0;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.contact-us {
  background-color: var(--clr-main);
  border: 0;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.send:hover, .contact-us:hover {
  background-color: white;
  color: black;
}